
h1 {
    text-align: center;
}

#examples {
    padding-left: 10px;
}

.endingRemark {
    margin-top: 30px;
}

div.example {
    margin-top: 50px;
}

div.example ul {
    width: 500px;
}

a {
    color: green;
}

a.decorate {
    text-decoration: underline;
}

#disqus_thread {
    margin: 10px;
    padding: 20px;
    background: #fff;
}
